.CardsLayout {
  display: flex;
  flex-direction: column;
  gap: 27px;
  
  .divCard {
    width: 258px;
    height: 124px;
    background-color:#FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 5px;
    img {
      width: 60px;
      height: 60px;
    }
    .divCardText{
        display: flex;
        flex-direction: column;
        height: 60px;
        justify-content: space-between;
        p:first-child{
            font-size: 20px;
            font-weight: bold;
            margin: 0;
        }
        p:last-child{
            font-size: 14px;
            color: #74798C;
            margin: 0;
        }

    }
  }
}
