.PageLayout {
  display: flex;
  h2 {
    font-size: 38px;
    margin-bottom: 0;
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .redSpan {
    color: red;
  }
  .DivPageLayout {
    margin-left: 80px;    
  }
}
